<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Contact Us </title>
    <link rel="stylesheet" href="/public/css/contact.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
     <!-- ---------NAVIGATION BAR-------- -->
     <div class="topnav">
        <div class="logo">
          <img src="/public/images/index-products/logo2.png" alt="">
        </div>
        <div class="categories">
         <a  href="index.html">Home</a>
         <a href="products.html">Products</a>
         <!-- <a href="categories.html">Categories</a> -->
         <a class="active" href="contact-us.html">ContactUs</a>
        </div>
        <div class="profile">
         <a href="search"><i class="fa-solid fa-magnifying-glass"></i></a>
         <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
         <a href="login.html"><i class="fa-solid fa-user"></i></a>
        </div>
       </div>
        <!-- ---------NAVIGATION BAR-------- -->



  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Surkhet, NP12</div>
          <div class="text-two">Birendranagar 06</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+0098 9893 5647</div>
          <div class="text-two">+0096 3434 5678</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">Trend@gmail.com</div>
          <div class="text-two">Trend-Bazzar@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>if you want to stay in trend then contact us by 
            by entering your details below. </p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
          
        </div>
        <div class="button">
          <input type="button" value="Send Now" >
        </div>
      </form>
    </div>
    </div>
  </div>
    <!-- ------------- footer --------  -->
    <footer>

        <div class="footwrapper">
            <div class="foot-mega-box">
                <div class="foot-content">
                    <div class="foot-row">
                        <header>WOMEN</header>
                        <ul class="foot-links">
                            <li><a href="#">Indian Wear</a></li>
                            <li><a href="#">Western Wear</a></li>
                            <li><a href="#">Lingerie & Night Wear</a></li>
                            <li><a href="#">Footwear</a></li>
                            <li><a href="#">Watches</a></li>
                            <li><a href="#">Fragrances</a></li>
                            <li><a href="#">Bags & Wallets</a></li>
                            <li><a href="#">Sunglasses & Frames</a></li>
                            <li><a href="#">Jewellery</a></li>
                        </ul>
                    </div>
                    <div class="foot-row">
                        <header>MEN</header>
                        <ul class="foot-links">
                            <li><a href="#">Clothing</a></li>
                            <li><a href="#">Footwear</a></li>
                            <li><a href="#">Watches</a></li>
                            <li><a href="#">Fragrances</a></li>
                            <li><a href="#">Grooming For Men</a></li>
                            <li><a href="#">Sunglasses & Frames</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Jewellery</a></li>
                            
                        </ul>
                    </div>
                    <div class="foot-row">
                        <header>KIDS</header>
                        <ul class="foot-links">
                            <li><a href="#">Boys</a></li>
                            <li><a href="#">Girls</a></li>
                            <li><a href="#">Infants</a></li>
                            <li><a href="#">Toys</a></li>
                            <li><a href="#">School Essential</a></li>
                            <li><a href="#">Footwear</a></li>
                            <li><a href="#">Watches</a></li>
                            <li><a href="#">Accessories</a></li>
                            
                        </ul>
                    </div>
                    <div class="foot-row">
                        <header>BEAUTY</header>
                        <ul class="foot-links">
                            <li><a href="#">Make Up</a></li>
                            <li><a href="#">Skincare</a></li>
                            <li><a href="#">Bath & Body</a></li>
                            <li><a href="#">Nails</a></li>
                            <li><a href="#">Haircare</a></li>
                            <li><a href="#">Tools & Accessories</a></li>
                            <li><a href="#">Women's Fragrances</a></li>
                            <li><a href="#">Men's Fragrances</a></li>
                            <li><a href="#">Grooming For Men</a></li>
                            
                        </ul>
                    </div>
                    <div class="foot-row">
                        <header>WATCHES</header>
                        <ul class="foot-links">
                            <li><a href="#">Mens Watches</a></li>
                            <li><a href="#">Women Watches</a></li>
                            <li><a href="#">Kids Watches</a></li>
                            
                            
                        </ul>
                    </div>

                
                </div>
             <p>© 2023 Trend Bazaar Ltd. All rights reserved</p>
             <p id="Terms">Terms of Use | Cookie & Privacy Policy</p>
            </div>
            <div class="icon">
                <p><i class="fa-brands fa-facebook"></i></p>
             <p><i class="fa-brands fa-twitter"></i></p>
             <p><i class="fa-brands fa-instagram"></i></p>
             <p><i class="fa-brands fa-tiktok"></i></p>
            </div>

        </div>


    </footer>
    <!-- ------------- footer end--------  -->
</body>
</html>
