<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trend Bazaar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/public/css/index-style.css">

    <!-------Fade out and Slide Down ----------->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#hero").fadeOut(1000,function(){
                $(this).slideDown(1000);
            });
        });
    </script>
    <!-------Fade out and Slide Down ----------->
    
</head>
<body>
    <!-- ---------NAVIGATION BAR-------- -->
    <div class="topnav">
        <div class="logo">
        <img src="/public/images/index-products/logo2.png" alt="">
        </div>
        <div class="categories">
         <a class="active" href="index.html">Home</a>
         <a href="products.html">Products</a>
         <!-- <a href="categories.html">Categories</a> -->
         <a href="contact-us.html">ContactUs</a>
        </div>
        <div class="profile">
         <a href="search"><i class="fa-solid fa-magnifying-glass"></i></a>
         <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
         <a href="login.html"><i class="fa-solid fa-user"></i></a>
        </div>
       </div>
        <!-- ---------NAVIGATION BAR-------- -->

        <!-- ----------------landing image-----------  -->
        <section id="hero">
            <h4>Trade-in-offer</h4>
            <h2>Super value deals</h2>
            <h1>On all products</h1>
            <p>Save more with coupons & up to 70% off!</p>
            <button><a href="product.html">Shop now</a></button>
        </section>
        <!-- ----------------landing image END-----------  -->

        <!-- ----------------features section-----------  -->
        <section id="feature" class="section-p1">
            <div class="fe-box">
                <img src="/public/images/index-products/free-shipping.jpg" alt="image">
                <h6>Free Shipping</h6>
            </div>
            <div class="fe-box">
                <img src="/public/images/index-products/order.avif" alt="image">
                <h6>Online Order</h6>
            </div>
            <div class="fe-box">
                <img src="/public/images/index-products/save-money.avif" alt="image">
                <h6>Save money</h6>
            </div>
            <div class="fe-box">
                <img src="/public/images/index-products/promo.avif" alt="image">
                <h6>Promotions</h6>
            </div>
            <div class="fe-box">
                <img src="/public/images/index-products/happy.avif" alt="image">
                <h6>Happy sell</h6>
            </div>
            <div class="fe-box">
                <img src="/public/images/index-products/support.avif" alt="image">
                <h6>24/7 Support</h6>
            </div>
        </section>
        <!-- ----------------features section END-----------  -->

        <!-- ------------------ feature products----------------  -->

        <section id="product-1" class="section-p1">
            <h2>Featured Products</h2>
            <p>Summer Collection & Mordern Design</p>
            <div class="pro-container">
                <!-- card start  -->
                <div class="pro">
                    <img src="/public/images/index-products/pro-2.avif" >
                    <div class="des">
                        <span>top</span>
                        <h5>green color top</h5>
                        <div class="star">
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                        </div>
                        <h4>Rs.799</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <!-- card end  -->
                <!-- card start  -->
                <div class="pro">
                    <img src="/public/images/index-products/graphic-shirt.avif" >
                    <div class="des">
                        <span>top</span>
                        <h5>graphic-shirt</h5>
                        <div class="star">
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                        </div>
                        <h4>Rs.450</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <!-- card end  -->
                <!-- card start  -->
                <div class="pro">
                    <img src="/public/images/index-products/green-front-sweater.avif" >
                    <div class="des">
                        <span>top</span>
                        <h5>green-front-sweater</h5>
                        <div class="star">
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            
                        </div>
                        <h4>Rs.499</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <!-- card end  -->
                <!-- card start  -->
                <div class="pro">
                    <img src="/public/images/index-products/blue-t-shirt.avif" >
                    <div class="des">
                        <span>top</span>
                        <h5>blue-t-shirt</h5>
                        <div class="star">
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            
                        </div>
                        <h4>Rs.284</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <!-- card end  -->
                <!-- card start  -->
                <div class="pro">
                    <img src="/public/images/index-products/graphic-tshirt.avif" >
                    <div class="des">
                        <span>top</span>
                        <h5>graphic-tshirt</h5>
                        <div class="star">
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                        </div>
                        <h4>Rs.324</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <!-- card end  -->
                <!-- card start  -->
                <div class="pro">
                    <img src="/public/images/index-products/fashion-woman.avif" >
                    <div class="des">
                        <span>top</span>
                        <h5>fashion-woman Top</h5>
                        <div class="star">
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                        </div>
                        <h4>RS.357</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <!-- card end  -->
                <!-- card start  -->
                <div class="pro">
                    <img src="/public/images/index-products/track-suit.avif" >
                    <div class="des">
                        <span>top</span>
                        <h5>Track Suit</h5>
                        <div class="star">
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            
                        </div>
                        <h4>Rs.378</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <!-- card end  -->
                <!-- card start  -->
                <div class="pro">
                    <img src="/public/images/index-products/men-clothes-set.avif" >
                    <div class="des">
                        <span>top</span>
                        <h5>men-clothes-set</h5>
                        <div class="star">
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                        </div>
                        <h4>Rs.799</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <!-- card end  -->
            </div>
        </section>

        <!-- ------------------ feature products end----------------  -->
        <!-- ---------------- banner ------------  -->

        <section id="banner" class="section-m1">
            <h4>Repair Services</h4>
            <h2>up to <span>70% off</span> - All T-shirt & Accessories</h2>
        </section>

        <!-- ---------------- banner end------------  -->

        <!-- ---------new arrival -------  -->
        <section id="product-1" class="section-p1">
            <h2>New Arrivals</h2>
            <p>Summer Collection & Mordern Design</p>
            <div class="pro-container">
                <!-- card start  -->
                <div class="pro">
                    <img src="/public/images/index-products/new-denim-men.avif" >
                    <div class="des">
                        <span>AUSK</span>
                        <h5>Denim Shirt</h5>
                        <div class="star">
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                        </div>
                        <h4>Rs.450</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <!-- card end  -->
                <!-- card start  -->
                <div class="pro">
                    <img src="/public/images/index-products/man-black-pants.avif" >
                    <div class="des">
                        <span>3BROS</span>
                        <h5>Black Pants</h5>
                        <div class="star">
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                        </div>
                        <h4>Rs.250</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <!-- card end  -->
                <!-- card start  -->
                <div class="pro">
                    <img src="/public/images/index-products/man-beige-jacket-shorts.avif" >
                    <div class="des">
                        <span>VeBNoR</span>
                        <h5>Shorts</h5>
                        <div class="star">
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                        </div>
                        <h4>Rs.199</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <!-- card end  -->
                <!-- card start  -->
                <div class="pro">
                    <img src="/public/images/index-products/rebel-man-plaid-shirt.avif" >
                    <div class="des">
                        <span>3BROS</span>
                        <h5>Rebel Shirt</h5>
                        <div class="star">
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                        </div>
                        <h4>Rs.367</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <!-- card end  -->
                <!-- card start  -->
                <div class="pro">
                    <img src="/public/images/index-products/women-clothe.webp" >
                    <div class="des">
                        <span>Aaivan</span>
                        <h5>Women Embroidered Viscose Rayon A-line Kurta</h5>
                        <div class="star">
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                        </div>
                        <h4>Rs.419</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <!-- card end  -->
                <!-- card start  -->
                <div class="pro">
                    <img src="/public/images/index-products/women-trackpants.webp" >
                    <div class="des">
                        <span>White Moon</span>
                        <h5>Women Self Design Pink Track Pants</h5>
                        <div class="star">
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                        </div>
                        <h4>Rs.292</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <!-- card end  -->
                <!-- card start  -->
                <div class="pro">
                    <img src="/public/images/index-products/women-lehga.webp" >
                    <div class="des">
                        <span>RUDKI ENTERPRISE</span>
                        <h5> Semi Stitched Lehenga Choli</h5>
                        <div class="star">
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                        </div>
                        <h4>Rs.719</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <!-- card end  -->
                <!-- card start  -->
                <div class="pro">
                    <img src="/public/images/index-products/women-kurta.webp" >
                    <div class="des">
                        <span>Ghani collection</span>
                        <h5>Women Chikan Embroidery Chiffon Straight Kurta</h5>
                        <div class="star">
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                            <i class="fa-solid fa-star" style="color: #f5ec00;"></i>
                        </div>
                        <h4>Rs.289</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <!-- card end  -->
            </div>
        </section>

        <!-- ---------new arrival end-------  -->

        <!-- ----------------- banner ---------------  -->

            <section id="sm-banner" class="section-p1">
                <!-- -----1st banner----  -->
                <div class="banner-box">
                    <h4>crazy deals</h4>
                    <h2>buy 1 get 1 free</h2>
                    <span>the best classic dress is on sale at TREND</span>
                    <button class="white"><a href="product.html">Learn more</a></button>
                </div>
                <!-- ----------- 2nd banner ---------  -->
                <div class="banner-box banner-box2">
                    <h4>Spring /Summer</h4>
                    <h2>upcomming season</h2>
                    <span>the best classic dress is on sale at TREND</span>
                    <button class="white"><a href="product.html">Learn more</a></button>
                </div>
            </section>

        <!-- ----------------- banner end---------------  -->

            <!-- ------------- footer --------  -->
            <footer>

                <div class="footwrapper">
                    <div class="foot-mega-box">
                        <div class="foot-content">
                            <div class="foot-row">
                                <header>WOMEN</header>
                                <ul class="foot-links">
                                    <li><a href="#">Indian Wear</a></li>
                                    <li><a href="#">Western Wear</a></li>
                                    <li><a href="#">Lingerie & Night Wear</a></li>
                                    <li><a href="#">Footwear</a></li>
                                    <li><a href="#">Watches</a></li>
                                    <li><a href="#">Fragrances</a></li>
                                    <li><a href="#">Bags & Wallets</a></li>
                                    <li><a href="#">Sunglasses & Frames</a></li>
                                    <li><a href="#">Jewellery</a></li>
                                </ul>
                            </div>
                            <div class="foot-row">
                                <header>MEN</header>
                                <ul class="foot-links">
                                    <li><a href="#">Clothing</a></li>
                                    <li><a href="#">Footwear</a></li>
                                    <li><a href="#">Watches</a></li>
                                    <li><a href="#">Fragrances</a></li>
                                    <li><a href="#">Grooming For Men</a></li>
                                    <li><a href="#">Sunglasses & Frames</a></li>
                                    <li><a href="#">Accessories</a></li>
                                    <li><a href="#">Jewellery</a></li>
                                    
                                </ul>
                            </div>
                            <div class="foot-row">
                                <header>KIDS</header>
                                <ul class="foot-links">
                                    <li><a href="#">Boys</a></li>
                                    <li><a href="#">Girls</a></li>
                                    <li><a href="#">Infants</a></li>
                                    <li><a href="#">Toys</a></li>
                                    <li><a href="#">School Essential</a></li>
                                    <li><a href="#">Footwear</a></li>
                                    <li><a href="#">Watches</a></li>
                                    <li><a href="#">Accessories</a></li>
                                    
                                </ul>
                            </div>
                            <div class="foot-row">
                                <header>BEAUTY</header>
                                <ul class="foot-links">
                                    <li><a href="#">Make Up</a></li>
                                    <li><a href="#">Skincare</a></li>
                                    <li><a href="#">Bath & Body</a></li>
                                    <li><a href="#">Nails</a></li>
                                    <li><a href="#">Haircare</a></li>
                                    <li><a href="#">Tools & Accessories</a></li>
                                    <li><a href="#">Women's Fragrances</a></li>
                                    <li><a href="#">Men's Fragrances</a></li>
                                    <li><a href="#">Grooming For Men</a></li>
                                    
                                </ul>
                            </div>
                            <div class="foot-row">
                                <header>WATCHES</header>
                                <ul class="foot-links">
                                    <li><a href="#">Mens Watches</a></li>
                                    <li><a href="#">Women Watches</a></li>
                                    <li><a href="#">Kids Watches</a></li>
                                    
                                    
                                </ul>
                            </div>
        
                        
                        </div>
                     <p>© 2023 Trend Bazaar Ltd. All rights reserved</p>
                     <p id="Terms">Terms of Use | Cookie & Privacy Policy</p>
                    </div>
                    <div class="icon">
                        <p><i class="fa-brands fa-facebook"></i></p>
                     <p><i class="fa-brands fa-twitter"></i></p>
                     <p><i class="fa-brands fa-instagram"></i></p>
                     <p><i class="fa-brands fa-tiktok"></i></p>
                    </div>
        
                </div>
        
        
            </footer>
            <!-- ------------- footer end--------  -->

    <script src="js/index.js"></script>
</body>
</html>